.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .mainSection {
        width: 1000px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* border: 1px solid red; */
        .header {
            font-size: 3rem;
            letter-spacing: -0.4rem;
        }

        .contentForm {
            display: flex;
            align-items: center;
            height: 60px;

            #taskInput {
                font-size: 1.1rem;
                letter-spacing: -0.08rem;
                font-weight: 600;
                padding: 9px;
                width: 380px;
                text-transform: capitalize;
            }

            .btnAddTask {
                font-size: 1.1rem;
                letter-spacing: -0.08rem;
                font-weight: 600;
                padding: 9px;
                width: 90px;
                cursor: pointer;
                transition: 0.2s all;
            }
            .btnAddTask:hover {
                color: rgb(6, 173, 6);
            }
        }

        .mainArticleTaskContent {
            display: flex;
            flex-direction: column;
            width: 800px;
            align-items: center;

            .taskContent {
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                justify-content: center;

                .task {
                    width: 400px;
                    font-size: 1.3rem;
                    letter-spacing: -0.07rem;
                    font-weight: 600;
                    text-transform: capitalize;
                }
                
                .btnDone {
                    border: 2px solid rgb(8, 170, 8);
                    color: rgb(6, 173, 6);
                    margin-right: 3px;
                }
                .btnDone:hover {
                    color: black;
                    background-color: rgb(8, 170, 8);
                }
                
                .btnDelete {
                    border: 2px solid rgb(173, 18, 18);
                    color: rgb(235, 30, 30);
                    margin-left: 3px;
                }
                .btnDelete:hover {
                    color: #000;
                    background-color: rgb(173, 18, 18);
                }
            }
            /* border: 1px solid red; */
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 0.8rem;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s all;
}